body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.navbar .logo {
  margin-bottom: 10px;
}

.navbar .logo img {
  max-width: 100px;
}

.navbar nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar nav ul li {
  display: inline;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.25s ease-out;
}

.navbar nav ul li a:hover {
  color: #068292;
  border-color: #068292;
  border: 2px solid #068292;

}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.navbar ul {
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 600px) {
  .navbar nav ul {
    flex-direction: column;
    gap: 10px;
    display: none;
  }

  .navbar.nav-open nav ul {
    display: flex;
  }

  .navbar-toggler {
    display: block;
  }
}

header .item {
  height: 100vh;
  position: relative;
}

header .item img {
  width: 100%;
  height: 100%;

}

header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
  text-align: center;
}

header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}

header .item .cover .header-content h4 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
  font: normal normal normal 55px/70px Merienda;
}

header .item .cover .header-content h4 {

  font-weight: 300;
  line-height: 36px;
  color: #fff;
  font: normal normal normal 55px/70px Merienda;
}

header .item .cover .header-content .btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #068292;
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  transition: background-color 0.3s;
  border-color: #fff;
}

header .item .cover .header-content .btn:hover {
  background-color: #0056b3;
}

header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

header .owl-nav .owl-prev,
header .owl-nav .owl-next {
  display: none;
}